body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.movie-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 15px;
    padding: 15px;
    width: 220px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-card img {
    max-width: 100%;
    border-radius: 8px;
    height: 280px;
    object-fit: cover;
}

.movie-card h5 {
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
}

.movie-card p {
    font-size: 0.9rem;
    color: #666;
}

.favorite-btn {
    background-color: #ffbf00;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 12px;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.favorite-btn:hover {
    background-color: #f39c12;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 20px 0;
}

.movie-list .movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Loader Style */
.spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}


.movie-card.favoritado {
    background-color: #ffd700; /* Fundo dourado */
    border: 2px solid #e6a800; /* Borda mais intensa */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra mais forte */
    transform: scale(1.05); /* Aumenta o tamanho do card */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.movie-card.favoritado:hover {
    transform: scale(1.1); /* Card cresce mais ao passar o mouse */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.movie-card.favoritado .favorite-btn {
    background-color: #e67e22; /* Cor mais intensa para o botão */
}

.movie-card.favoritado .favorite-btn:hover {
    background-color: #d35400; /* Cor do botão quando passa o mouse */
}
