

.movie-detail {
    margin-top: 30px;
}
.movie-detail img {
    max-width: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.movie-info {
    margin-top: 20px;
}
.movie-info h2 {
    font-size: 2rem;
    font-weight: bold;
}
.movie-info p {
    font-size: 1.1rem;
    color: #555;
}
.movie-info .director, .movie-info .producer {
    font-weight: bold;
    color: #333;
}
.back-btn {
    margin-top: 20px;
}
/* Estilo do Loading */
.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.loading .spinner-border {
    width: 3rem;
    height: 3rem;
    border-width: 4px;
}

.img-fluid{
    width: 26vw !important;
}

.movie-info ul{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.movie-info li{
    width: 33%;
}

img {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}


img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

img:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

p{
    margin-bottom: 0.5rem !important;
}